spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

server:
  port: ${PORT:8080}
  compression:
    enabled: true

logging:
  level:
    com.riyobox: INFO
    org.springframework: WARN
  file:
    name: /var/log/riyobox/riyobox.log

management:
  endpoints:
    web:
      exposure:
        include: health,info
