name: Android CI/CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup JDK 17
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # Setup Android SDK
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      # Gradlew permission
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        working-directory: riyobox-android

      # Decode keystore
      - name: Decode keystore
        run: echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 --decode > keystore.jks
        working-directory: riyobox-android

      # Build Release APK & AAB
      - name: Build Release
        run: |
          ./gradlew assembleRelease bundleRelease \
            -PstorePassword="${{ secrets.ANDROID_STORE_PASSWORD }}" \
            -PkeyAlias="${{ secrets.ANDROID_KEY_ALIAS }}" \
            -PkeyPassword="${{ secrets.ANDROID_KEY_PASSWORD }}"
        working-directory: riyobox-android

      # Upload to Firebase App Distribution
      - name: Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          token: ${{ secrets.FIREBASE_TOKEN }}
          groups: testers
          file: riyobox-android/app/build/outputs/apk/release/*.apk
        

      # Upload to Play Store (Internal Testing)
      - name: Upload to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT }}
          packageName: com.riyobox
          releaseFiles: riyobox-android/app/build/outputs/bundle/release/app-release.aab
          track: internal
          status: completed
