name: Android CI/CD (Debuggable)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Grant execute permission
        run: chmod +x ./gradlew
        working-directory: riyobox-android

      - name: Decode keystore
        run: echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 --decode > keystore.jks
        working-directory: riyobox-android

      # ✅ BUILD
      - name: Build Release APK
        run: ./gradlew assembleRelease --stacktrace
        working-directory: riyobox-android

      # ✅ HUBINTA
      - name: Check APK exists
        run: |
          if [ ! -f "riyobox-android/app/build/outputs/apk/release/app-release.apk" ]; then
            echo "❌ APK NOT FOUND!"
            exit 1
          fi
          echo "✅ APK FOUND!"

      # ✅ FIREBASE
      - name: Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          token: ${{ secrets.FIREBASE_TOKEN }}
          groups: testers
          file: riyobox-android/app/build/outputs/apk/release/app-release.apk
